<!DOCTYPE html>
<html lang="zh-Hans" xmlns="http://www.w3.org/1999/xhtml"xmlns:th="http://www.thymeleaf.org">

<body>
<!-- footer -->
<footer th:fragment="footer">
    <div class="container">
        <h2>Seeini</h2>
        <p>技术标准版本控制栈</p>
        <ul>
            <li><a href=""><i class="fab fa-facebook"></i></a></li>
            <li><a href=""><i class="fab fa-twitter"></i></a></li>
            <li><a href=""><i class="fab fa-dribbble"></i></a></li>
            <li><a href=""><i class="fab fa-behance"></i></a></li>
            <li><a href=""><i class="fab fa-whatsapp"></i></a></li>
        </ul>
        <h6>所有的一切都是假的，但是却在推进很多真实的事情</h6>
        <h6>Copyright &copy; 2021. Seeini All rights reserved.</a></h6>
    </div>
</footer>
<!-- end footer -->
</body>
</html>