<!DOCTYPE html>
<html lang="zh-Hans" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>
<!-- header intro -->

    <header class="navbar navbar-expand navbar-dark flex-column flex-md-row bd-navbar header-intro" th:fragment="header-intro">
        <div class="container">
            <a href="index" class="navbar-brand"><h2>Technology Stack</h2></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-align-justify"></i>
            </button>
            <div class="collapse navbar-collapse" id="">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" th:href="@{/index}"><span>首页</span> <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/guidelines}"><span>热榜</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/about-us}"><span>问答</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/about-us}"><span>关于我们</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/about-us}"><span>加入我们</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/contact-us}">Contact us</a>
                    </li>
                </ul>
            </div>
        </div>
    </header>

</div>

<!-- end header intro -->

</body>
</html>